<p id="notice"><%= notice %></p>

<p>
  <b>Deadline at:</b>
  <%= @schedule.deadline_at %>
</p>

<p>
  <b>Summary:</b>
  <%= @schedule.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @schedule.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @schedule.notes %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
