%p#notice= notice
%p
  %b Deadline at:
  = @schedule.deadline_at
%p
  %b Summary:
  = @schedule.summary
%p
  %b Description:
  = @schedule.description
%p
  %b Notes:
  = @schedule.notes
= link_to 'Edit', edit_schedule_path(@schedule)
|
= link_to 'Back', schedules_path
